/* CSS do not have OOP's inheritance. See:
	http://dorward.me.uk/www/css/inheritance/
   Try multiple inheritance class="inside center" ...
*/
body{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 10pt;
}
td{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 8pt;
}
p{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 8pt;
}
span{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 8pt;
}
input{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 8pt;
}


a{
	color:#006699;
	text-decoration:underline;
	font-weight:bold;
}
	
div.center {
  text-align:center
}

h1.pheader {
		
	text-align:left
}

h1 {
	font-size:24pt;
	color:#003366;
}
input.full{
	width:100%
}

p.blue {
	color: #003366;
}

p.dhs {
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 10pt;
	color:#003366;	
}

p.center {
	text-align:center
}

p.white {
	background-color: white;
}

p.inside {

	color:#003366;
	font-weight:bold
}

p.required {
	font-weight:bold;
	color:red
	
}

p.sans {

}


p.small{
	font-size: 8pt;
	font-weight:bold;
	color:#006699;
	text-decoration:underline;
}


span.fieldTitle{
	font-weight:bold;
	font-size:8pt;
}
span.fieldSubTitle{
	font-weight:bold;
	font-style:italics;
	font-size:8pt;
}
	
span.bold{
	font-weight:bold
}

span.center{
	text-align:center
}

span.left{
	text-align:left
}

span.red{
	color:red
}

select.full{
	width:100%
}

table{
	border-width: 0;
	border:0;
	margin: 0;
	padding: 0;
}


table.full {
	width:600px;
}

table.content {
	width:600px;
	text-align:left; 

}

table.footer {
	width:600px;
	text-align:left; 
	background:white
}

table.info {
	border:solid black;
	width:600px;
	background-color:lightgrey;
	margin-left:0cm;
	
}

table.pageheader {
	width:600px;
	text-align:left; 
	background:white	
}

td{
	padding-top:0px;
	padding-bottom:0px;
}
table.blueLine{
	width:600px;
	background:white;
}
td.approvalHeader{
	text-align:center;font-weight:bold;
}
td.statusHeader{
	font-weight:bold;
	font-size:10pt;
	text-align:center;
}

td.dateSubTitle{
	font-style:italic;
	padding-left:10px;
	padding-top:6pt;
}
	
td.fieldTitle{
	width:50%;
}

td.pad6pt {
}

td.bold {
	font-weight:bold
}

td.blue {
	width:1px;
	valign:top;
	background:#003366;
}
td.blueDivide {
	width:2px;
	valign:top;
	background:#003366;
}

td.green {
	valign:top;
	background:#99cc99;
	border:0
}

td.half {
	width:50%;
	background:#99cc99;
}

td.info {
	padding-right: 10px;
	padding-left: 5px;
	padding-top: 12px;
	padding-bottom: 0px;
}

td.vwpQuestion {
	width:75%;
	vertical-align:top;
	padding-bottom:5px;
			font-size:8pt;
}
td.vwpAnswer {
	vertical-align:top;
			font-size:8pt;
}
td.top {
	valign:top;
}

td.w05 {
	width:5%
}

td.w10 {
	width:10%
}

td.w15 {
	width:15%
}

td.w20 {
	width:20%
}

td.w25 {
	width:25%
}

td.w30 {
	width:30%
}

td.w35 {
	width:35%
}

td.w40 {
	width:40%
}

td.subheader {
	font-style:italic;
	padding-left:10px;
}

td.w50 {
	width:50%
}

td.w60 {
	width:60%
}

td.w65 {
	width:65%
}

td.w75 {
	width:75%
}

td.w85 {
	width:85%
}

td.w5b {
	width:5%;
	font-weight:bold;
	vertical-align:top
}
td.w5t {
	width:5%;
	vertical-align:top
}
td.w15t {
	width:15%;
	vertical-align:top
}
td.w25t {
	width:25%;
	vertical-align:top
}
td.w50t {
	width:50%;
	vertical-align:top
}

td.w70t {
	width:70%;
	vertical-align:top
}

li {
	margin-bottom:6pt;
}


ul {
	margin-top:0px;margin-bottom:0px;margin-left:14px
}

th.applicationSubHead{
	text-align:center;
	color:#003366
}
td.applicationFormLabel {
	vertical-align:top;
}
td.applicationFormInput {
	vertical-align:top;
	padding-left:5px;
}
td.applicationFormIndent{
	vertical-align:top;
	padding-left:10px;
}

span.errorMessage {
	color:red;
	font-size:smaller;
}
input.applicationInput{
	width:300px;
	margin-left:10px;

}
span.applicationInput{
	width:260px;
	padding-left:1px;

}
p.applicationInput{
	width:260px;
	margin-left:10px;
	text-align:left;
	padding-left:3px;
	background-color:white;
	border:2px inset white;
	font-size:8pt;
}

input.applicationSub{
	width:50%;
	margin-left:10px;
	font-size:8pt;
}
span.applicationSub{
	width:50%;
	padding-left:1px;
}
p.applicationSub{
	width:50%;
	margin-left:10px;
	text-align:left;
	padding-left:3px;
	background-color:white;
	border:2px inset white;
	font-size:8pt;
}





input.applicationInputWhen{
	width:80%px;
			font-size:8pt;
}
span.applicationInputWhen{
	width:80%;
	padding-left:1px;
}
p.applicationInputWhen{
	width:80%;
	background-color:white;
	text-align:left;
	margin-left:3px;
	padding-left:3px;
	border:2px inset white;
			font-size:8pt;
}
select.applicationDate{
	width:160px;
	margin-left:20px;
}
span.applicationDate{
	width:60px;
	padding-left:1px;
	border:1px inset white;
}
p.applicationDate{
	width:60px;
	background-color:white;
	text-align:center;
	border:1px inset white;
	font-size:8pt;
}



input.welcomeInput{
	width:200px;
}
select.dates{
	width:100px;
}
select.application{
	width:300px;
	margin-left:10px;
}
select.applicationSub{
	width:200px;
	margin-left:10px;
}
input.ro{
	border:2px inset white;
}

@media print { 
	.noPrint { display:none; } 
} 

td.status {
    text-align: left;
    padding: 5px;
    padding-left:10px;
    border: 1px solid grey;
}