<section>
    <h3 class="black-text text-lighten-10">Leveranciers</h3>
</section>


<div layout="row" layout-margin layout-fill layout-padding>

    <div flex class="card small">
        <div class="card-image waves-effect waves-block waves-light">
            <img style="height: 100%;"  src="../images/viessman.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Viessmann</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Titleclose</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>


    <div flex class="card small">
        <div class="card-image waves-effect waves-block waves-light">
            <img style="height: 100%;" src="../images/bege.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Begetube</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Titleclose</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
    <div flex class="card small">
        <div class="card-image waves-effect waves-block waves-light">
            <img style="height: 100%;" src="../images/vma.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Van Marcke</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Titleclose</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
    <div flex class="card small">
        <div class="card-image waves-effect waves-block waves-light">
            <img style="height: 100%;" src="../images/gro.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Hans Grohe</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Titleclose</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
    <div flex class="card small">
        <div class="card-image waves-effect waves-block waves-light">
            <img style="height: 100%;" src="../images/lambrechts.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Lambrechts</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Titleclose</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>

    </div>
