<style>
    #imgdiv{
        background-image: url("../images/PatrickVanHoutte_logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 200px;
    }
</style>

<script>

    $(document).ready(function(){
        $('.slider').slider({full_width: true});
    });
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });


</script>


<div class="section">
<div id="imgdiv">
     </div>
</div>
<div class="divider"></div>
<div class="section">

    <!--   Icon Section   -->
    <div class="row">
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center" style="color:#2d3691"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Centrale verwarming</h5>

                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center" style="color:#2d3691"><i class="material-icons">group</i></h2>
                <h5 class="center">Sanitair</h5>

                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center" style="color:#2d3691"><i class="material-icons">settings</i></h2>
                <h5 class="center">Kleine en grote herstellingen</h5>

                <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
        </div>
    </div>

</div>

<br><br>

<div class="section">

</div>

<!--
<div layout="column" layout-margin layout-fill layout-padding>

<div flex class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="../images/douchekop.jpg">

                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/2">

                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/3">

                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/4">

                </li>
            </ul>
        </div>
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Woning Aarschot</i></span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Titleclose</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
</div>


    <div flex class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/1">

                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/2">

                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/3">

                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/4">

                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Woning Mechelen</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Titleclose</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>


    <div flex class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="../images/douchekop.jpg">
                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/2">

                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/3">

                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/4">

                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Woning Aarschot</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Titleclose</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
    </div>




-->