

<script>

    $(document).ready(function(){
        $('.slider').slider({full_width: true});
    });
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });


</script>

<section>
    <h3 class="black-text text-lighten-10">Woningen</h3>
</section>

<div class="divider"></div>
        <section>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="../images/vloer.jpg"> <!-- random image -->
                <div class="caption right-align">
                    <h3>Woning Aarschot</h3>
                    <h5 style="text-shadow: 0,5px 0,5px #000000;" class="light-grey-text text-lighten-2">Vloerverwarming</h5>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->

            </li>
            <li>
                <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->

            </li>
            <li>
                <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->

            </li>
        </ul>
    </div>
</section>

